.top_panel {
  display: flex;
  color: white;
  overflow: hidden;
}

.burger {
  padding: 21px 16px 21px 17px;
  background-color: #35393F;
  cursor: pointer;
  flex-shrink: 0;
}

.burger_inner {
  display: flex;
  flex-flow: column;
  gap: 7px;
  width: 18px;
  height: 18px;
  justify-content: center;
  overflow: hidden;
}

.burger_middle,
.burger_inner:after,
.burger_inner:before {
  transition-property: transform;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}

.burger_middle {
  height: 2px;
  width: 100%;
  background: white;
}

.burger_inner:after {
  content: '';
  display: inline-block;
  height: 2px;
  width: calc(100% * 1.4142135623730950488016887242097);
  background: white;
  transform-origin: bottom left;
}

.burger_inner:before {
  content: '';
  display: inline-block;
  height: 2px;
  width: calc(100% * 1.4142135623730950488016887242097);
  background: white;
  transform-origin: top left;
}

.burger.opened .burger_inner {
  overflow: visible;
  justify-content: space-between;
}

.burger.opened .burger_middle {
  visibility: hidden;
}

.burger.opened .burger_inner:after {
  transform: rotate(-45deg);
}

.burger.opened .burger_inner:before {
  transform: rotate(45deg);
}

.control_panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2B2D31;
  flex-basis: 100%;
  padding-right: 8px;
}

.control_panel > * {
  flex-shrink: 0;
}

.control_panel .info {
  display: flex;
  align-content: center;
}

.control_panel .info > .title {
  display: none;
  border-right: 1px solid #979797;
  align-self: center;
  padding: 16px 15px 16px 15px;
}

.document_name {
  display: flex;
  gap: 16px;
  align-items: center;
  padding-left: 17px;
}

.file_name > img {
  width: 13px;
  height: 16px;
}

.actions {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.save {
  display: flex;
  gap: 7px;
  align-items: center;
  transition : opacity 300ms linear;
}

.save:disabled {
  opacity: 0.5;
}

.save_content {
  display: none;
}

.top_panel .name_input {
  background: transparent;
  border: none;
  color: white;
  border-bottom: 1px solid white;
}

.top_panel .name_input:focus-visible {
  outline: none;
}

.document_name__info {
  display: flex;
  flex-flow: column;
}

.document_name .name_title {
  display: none;
  text-transform: capitalize;
  color: var(--color-light-theme-preview-text);
  font-size: 0.9rem;
}

@media screen and (min-width: 767px) {
  .save_content {
    display: inline;
  }

  .document_name .name_title {
    display: inline;
  }

  .burger {
    padding: 24px;
  }

  .burger_inner {
    width: 30px;
    height: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .control_panel .info > .title {
    display: block;
  }
}