.top_panel {
  display: flex;
  color: white;
}

.burger {
  padding: 21px 16px;
  background-color: #35393F;
  cursor: pointer;
  flex-shrink: 0;
}

.control_panel {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background-color: #2B2D31;
  flex-basis: 100%;
  padding-right: 8px;
}

.control_panel > * {
  flex-shrink: 0;
}

.control_panel .info {
  display: flex;
  align-content: center;
}

.control_panel .info > .title {
  display: none;
  align-self: end;
  padding-right: 15px;
  border-right: 1px solid #979797;
  padding-left: 24px;
}

.document_name {
  display: flex;
  gap: 16px;
  align-items: center;
  padding-left: 17px;
}

.file_name > img {
  width: 13px;
  height: 16px;
}

.actions {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.save {
  display: flex;
  gap: 7px;
  align-items: center;
}

.save_content {
  display: none;
}

.top_panel .name_input {
  background: transparent;
  border: none;
  color: white;
  border-bottom: 1px solid white;
}

.top_panel .name_input:focus-visible {
  outline: none;
}

.document_name__info {
  display: flex;
  flex-flow: column;
}

.document_name .name_title {
  display: none;
  text-transform: capitalize;
  color: var(--color-preview-text);
  font-size: 0.9rem;
}

@media screen and (min-width: 767px) {
  .save_content {
    display: inline;
  }

  .document_name .name_title {
    display: inline;
  }
}

@media screen and (min-width: 1024px) {
  .control_panel .info > .title {
    display: block;
  }
}