main {
  display: flex;
  height: 100%;
  flex-basis: 100%;
  flex-flow: column;
}

.preview_panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-light-theme-preview_panel-headings);
  padding: 12px 16px 14px 16px;
  background: var(--color-light-theme-preview-panel);
}

body.dark .preview_panel {
  color: var(--color-dark-theme-preview_panel-headings);
}

body.dark .preview_panel {
  background: var(--color-dark-theme-preview-panel);
}

.workplace {
  height: 100%;
}

.editor,
.workplace {
  overflow: hidden;
}

.markdown_editor {
  width: 100%;
  height: 100%;
  border: none;
  padding: 20px;
  font-family:'Roboto Mono', monospace;
  color: var(--color-light-theme-markdown-text);
  border-right: 1px solid var(--color-light-theme-dividing-line);
  line-break: anywhere;
}

body.dark .markdown_editor {
  color: var(--color-dark-theme-markdown-text);
}



body.dark .markdown_editor {
  border-right-color: var(--color-dark-theme-dividing-line);
}

body.dark .preview_content {
  border-left-color: var(--color-dark-theme-dividing-line);
}

.preview_content,
.markdown_editor {
  height: 100%;
  overflow-y: auto;
  background: var(--color-light-theme-background);
}

body.dark .preview_content,
body.dark .markdown_editor {
  background: var(--color-dark-theme-main-background);
}


[data-mode="EDITOR"] .preview,
[data-mode="PREVIEW"] .editor {
  display: none;
}

[data-mode="PREVIEW"] .preview,
[data-mode="EDITOR"] .editor {
  display: flex;
  flex-flow: column;
}

[data-mode="EDITOR"] .editor .hide_preview_img,
[data-mode="PREVIEW"] .preview .show_preview_img {
  display: none;
}

.preview_panel__title {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
}

.content {
  padding: 16px;
}

.preview_content {
  padding: 16px 20px 54px 20px;
  line-break: anywhere;
}

.editor,
.preview {
  height: 100%;
}

.markdown_editor:focus-visible {
  outline: none;
}

.preview_content {
  display: flex;
  flex-flow: column;
  gap: 20px;
  font-family: 'Roboto Slab', serif;
  border-left: 1px solid #E4E4E4;
}

[data-mode="PREVIEW"] .preview_content {
  border: none;
}

.preview_content p,
.preview_content li {
  color: var(--color-light-theme-preview-text);
}

.preview_content blockquote p,
.preview_content code {
  color: var(--color-light-theme-preview-text-fragments);
}

body.dark .preview_content p,
body.dark .preview_content li {
  color: var(--color-dark-theme-preview-text);
}

body.dark .preview_content blockquote p,
body.dark .preview_content code {
  color: var(--color-dark-theme-preview-text-fragments);
}

.preview_content blockquote,
.preview_content pre {
  background: var(--color-light-theme-preview-fragments-background);
  padding: 24px;
  font-weight: bold;
  font-size: 0.9rem;
  border-radius: var(--interface-border-radius);
}

body.dark .preview_content blockquote,
body.dark .preview_content pre {
  background: var(--color-dark-theme-preview-fragments-background);
}

.preview_content blockquote {
  border-left: 4px solid var(--color-accent);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.preview_content pre code {
  font-family:'Roboto Mono', monospace;
  font-size: 0.8rem;
  font-weight: 400;
  white-space: pre-line;
}

.preview_content li {
  margin-bottom: 4px;
}

.preview_content ul li::marker {
  color: var(--color-accent);
}

.preview_content h1 {
  font-size: 2rem;
}

.preview_content h2 {
  font-size: 1.75rem;
  font-weight: lighter;
}

.preview_content h3 {
  font-size: 1.5rem;
}

.preview_content h4 {
  font-size: 1.3rem;
}

.preview_content h5 {
  font-size: 1rem;
}

.preview_content h6 {
  font-size: 0.8rem;
  color: var(--color-accent);
}

@media screen and (min-width: 768px) {
  [data-mode="EDITOR"].workplace {
    display: flex;
  }

  [data-mode="EDITOR"] .editor,
  [data-mode="EDITOR"] .preview {
    display: block;
    flex-basis: 50%;
  }

  [data-mode="EDITOR"] .editor .visible_status {
    display: none;
  }

  [data-mode="EDITOR"] .preview .hide_preview_img,
  [data-mode="PREVIEW"] .preview .show_preview_img {
    display: none;
  }

  [data-mode="PREVIEW"] .preview .hide_preview_img {
    display: block;
  }

  [data-mode="PREVIEW"] .preview_content {
    padding: 22px 48px 52px 48px;
  }
}

@media screen and (min-width: 1280px) {
  [data-mode="PREVIEW"] .preview_content {
    padding: 22px 384px 63px 384px;
  }
}