.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.5;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-left: 16px;
  padding-right: 16px;
  z-index: 1;
}

.modal_wrapper {
  display: flex;
  gap: 16px;
  flex-flow: column;
  width: 100%;
  min-height: 218px;
  background-color: white;
  padding: 24px;
  max-width: 343px;
}