@import url(reset.css);
@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Slab:wght@300;400;700&family=Roboto:wght@300;400&display=swap');
@import url(header.css);
@import url(main.css);

body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
}

textarea {
  resize: none;
}

button {
  border: none;
  color: white;
}